<ion-header>
    <ion-toolbar align="center">
        <ion-title color="medium">
            Login
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" padding>

    <img src="assets/logo.png" width="250" height="200">

    <ion-item>
        <ion-label color="medium" position="floating">Login</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="medium" position="floating">Senha</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <br/>

    <ion-button size="large" shape="round" expand="full" color="medium">
        <ion-ripple-effect></ion-ripple-effect>
        Entrar
    </ion-button>
</ion-content>
