<ion-header>
    <ion-toolbar align="center">
        <ion-title>
            <img src="assets/logo.png" width="60" height="35">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label>Estabelecimentos</ion-label>
        <ion-select>
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
            <ion-select-option value="i">Indefined</ion-select-option>
            <ion-select-option value="g">Gay</ion-select-option>
        </ion-select>
    </ion-item>
</ion-content>
